@import "../../assets/theme/constants.scss";

.dialogCard {
     align-items: center !important;
     justify-items: center !important;
     text-align: center !important;
     background: rgba(0, 61, 28, 0.5);
     color: aliceblue;
 }